<%- include('../partials/header-dark.ejs') %>

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="mb-4">Login</h1>
                    <form method="POST" action="/auth/login" enctype="application/x-www-form-urlencoded">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <a href="/auth/register"><small>Don't have an account? Register here.</small></a>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer.ejs') %>